body{
    background-image: url(../image/bg.jpg);
    background-repeat: repeat;
    background-position: left top;
    font-family: 'Microsoft Yahei';
}
.col{
    /* border: 1px solid red; */
    
}
.nav{
    background-color: #343e47;
    position: sticky;
    top: 0;
}
.container{
    padding: 0 150px;
}
h1{
    font-size: 28px;
}
.name p{
    font-size: 12px;
}
.link-group a{
    display: inline-block;
    line-height: 80px;
}
.link-group a:hover{
    color: #dddddd;
}
.search-group{
    padding: 24px 5px;
}

.main{
    padding-top: 20px;
    padding-bottom: 30px;
}

.main .article{
    background-color: #ffffff;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-radius: 2%;
}

.main .article .date{
    color: #999999;
    background-color: #eeeeee;
    margin-bottom: 20px;
}

.main .article .desc{
    text-align: center;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1.8;
}
.main .article .desc img{
    width: 80%;
}
.main .article .desc a{
    font-weight: 700;
    display: inline-block;
}
.main .article .comment{
    padding-top: 20px;
    margin: 20px;
}
.main .article .comment p{
    padding-bottom: 0;
    margin-bottom: 0;
}
.main .side{
    padding: 10px;
    padding-top: 0;
}
.main .side  .card{
    background-color: #ffffff;
    border-radius: 1%;
    padding: 10px;
    margin-bottom: 10px;
}

.main .side .writer img{
    display:block;
}
.main .side .writer a{
    display: inline-block;
    padding: 5px 15px;
    
}
.main .side .writer a:first-of-type{
    margin-right: 20px;
}
.main .side .writer a:last-of-type{
    margin-left: 20px;
}
.main .side .article-group a{
    padding: 5px 10px;
}